<div class="ec-role">
{#    <div class="your-class">#}
{#  <div><a href="{{ url('homepage') }}guide#condition"><img src="{{ asset('assets/img/common/guide.jpg') }}" alt="お買い物ガイド" ></a> </div>#}
{#  <div><a href="{{ url('homepage') }}guide#condition"><img src="{{ asset('assets/img/common/guide.jpg') }}" alt="お買い物ガイド" ></a> </div>#}
{#  <div><a href="{{ url('homepage') }}guide#condition"><img src="{{ asset('assets/img/common/guide.jpg') }}" alt="お買い物ガイド" ></a> </div>#}
{#</div>#}

        <hr>
        <div class="pc_only">
             <iframe frameborder="0" style="border: none" id="p1" src="{{ asset('assets/slider.html') }}" width="100%" height="450px"></iframe>
        </div>
        <div class="sp_only">
            <iframe frameborder="0" style="border: none" id="p2" src="{{ asset('assets/slider.html') }}" width="100%" height="200px"></iframe>
        </div>
       
        
    {#    <a href="{{ url('homepage') }}guide#condition"><img id="p1" src="{{ asset('assets/img/common/guide.jpg') }}" alt="お買い物ガイド" ></a> #}
    {#</div>#}
    {#<img id="p1" src="{{ asset('assets/img/top/silder_01.jpg') }}">#}

{#<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>#}
{#<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>#}
{#<script src="https://ounodoukutsu.jp/js/jquery-3.6.0.min.js"></script>#}
{#<script src="https://ounodoukutsu.jp/js/jquery-migrate-1.4.1.min.js"></script>#}
{#<script type="text/javascript" src="https://ounodoukutsu.jp/js/slick.min.js"></script>#}

</div>
<div class="ec-sliderRole">
    <div class="main_visual">
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/silder_01.jpg') }}"></div>
            <div class="item slick-slide"><a href="https://ounodoukutsu.jp/g_pla/"><img src="{{ asset('assets/img/top/silder_00.jpg') }}"></a></div>
        </div>
</div>

    <div class="mainvisual pc_only">
        <div class="main_visual">
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/silder_01.jpg') }}"></div>
            <div class="item slick-slide"><a href="https://ounodoukutsu.jp/g_pla/"><img src="{{ asset('assets/img/top/silder_00.jpg') }}"></a></div>
    </div>
        <div class="ec-sliderRole sp_only">
        <div class="main_visual_sp">
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/slider_01_sp.jpg') }}"></a></div>
            <div class="item slick-slide"><a href="https://ounodoukutsu.jp/g_pla/sp/"><img src="{{ asset('assets/img/top/slider_00_sp.jpg') }}"></a></div>
        </div>
    </div>