<div class="ec-sliderRole">
    <div class="main_visual">
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/silder_01.jpg') }}"></div>
            <div class="item slick-slide"><a href="https://ounodoukutsu.jp/g_pla/"><img src="{{ asset('assets/img/top/silder_00.jpg') }}"></a></div>
        </div>
</div>

    <div class="mainvisual pc_only">
        <div class="main_visual">
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/silder_01.jpg') }}"></div>
            <div class="item slick-slide"><a href="https://ounodoukutsu.jp/g_pla/"><img src="{{ asset('assets/img/top/silder_00.jpg') }}"></a></div>
    </div>
        <div class="ec-sliderRole sp_only">
        <div class="main_visual_sp">
            <div class="item slick-slide"><img src="{{ asset('assets/img/top/slider_01_sp.jpg') }}"></a></div>
            <div class="item slick-slide"><a href="https://ounodoukutsu.jp/g_pla/sp/"><img src="{{ asset('assets/img/top/slider_00_sp.jpg') }}"></a></div>
        </div>
    </div>
    
        <div class="ec-sliderRole pc_only">
        <div class="main_visual">
            <div class="item slick-slide"><a href="https://meishin1980.com/products/detail/134"><img src="{{ asset('assets/img/top/silder_00.jpg') }}"></a></div>
            <div class="item slick-slide"><a href="https://meishin1980.com/products/detail/184"><img src="{{ asset('assets/img/top/silder_00.jpg') }}"></a></div>
        </div>
        <div class="thumb">
            <div class="item slick-slide"><img style="width:auto;height:60px;border:solid 1px #fff;padding:1px" class="img" src="{{ asset('assets/img/top/silder_00.jpg') }}"></div>
            <div class="item slick-slide"><img style="width:auto;height:60px;border:solid 1px #fff;padding:1px" class="img" src="{{ asset('assets/img/top/silder_00.jpg') }}"></div>
       </div>
    </div>
    <div class="ec-sliderRole sp_only">
        <div class="main_visual_sp">
            <div class="item slick-slide"><a href="https://meishin1980.com/products/detail/134"><img src="{{ asset('assets/img/top/silder_00.jpg') }}"></a></div>
            <div class="item slick-slide"><a href="https://meishin1980.com/products/detail/184"><img src="{{ asset('assets/img/top/silder_00.jpg') }}"></a></div>
        </div>
    </div>