<div class="">
    <div class="ec-role">
        <hr>
<!--
        <a href="https://ounodoukutsu.jp/zeroshiki/#link01" target="_blank"><img src="{{ asset('assets/img/common/shoplist.jpg') }}" alt="王の洞窟グループリアルショップ一覧" ></a> 
        <p><br><br></p>

        <a href="https://ounodoukutsu.jp/g_pla/#mailformpro" target="_blank"><img src="{{ asset('assets/img/common/banner_img.jpg') }}" alt="買取バナー" ></a> 
-->
        <!--<div class="ec-secHeading" id="store">
            <div class="ec-secHeading__en">{{ 'STORE LIST'|trans }}</div>
            <div class="ec-secHeading__ja">{{ '-　店舗情報　-'|trans }}</div>
            <div class="real_shop>"店舗情報</div>
        </div>
        <!--
        <hr>
        <div class="ec-rankingRole__list">
            <div class="ec-categoryRole__listItem1">
                <section class="post_bx">
                                <p class="post_img"><a href="https://ounodoukutsu.jp/zeroshiki/shop/ounodoukutsu/">
                                    <img src="https://ounodoukutsu.jp/zeroshiki/wp-content/uploads/2017/01/9bad268158dece4116f8a12c1898d75b-270x180.jpg" alt="王の洞窟外観" > </a></p>
                                <p class="post_name">
                          王の洞窟 岐南本店        </p>
                                <p class="post_add">
                          〒501-6017<br>
                岐阜県羽島郡岐南町徳田西1丁目27<br>
                名鉄本線岐南駅から徒歩5分<br>
                        </p>
                                        <p class="post_tel"><a href="tel:058-214-2335">Tel.
                          058-214-2335          </a></p>
                                <p class="post_bt"> <a href="https://ounodoukutsu.jp/zeroshiki/shop/ounodoukutsu/"><img src="{{ asset('assets/img/top/post_bt.png') }}" alt="詳細はこちら" ></a> </p>
                </section>
            </div>
            <div class="ec-categoryRole__listItem1">
                <section class="post_bx">
                                <p class="post_img"><a href="https://ounodoukutsu.jp/zeroshiki/shop/morimoto/">
                                    <img src="https://ounodoukutsu.jp/zeroshiki/wp-content/uploads/2017/01/OHPcPqbx-270x180.jpg" alt="OHPcPqbx" > </a></p>
                                <p class="post_name">
                          零式書店 一宮森本店        </p>
                                <p class="post_add">
                          〒491-0831<br>
                愛知県一宮市森本5丁目33-12 <br>
                名鉄バス「森本」バス停下車　徒歩2分<br>
                        </p>
                                        <p class="post_tel"><a href="tel:0586-23-2611">Tel.
                          0586-23-2611          </a></p>
                                <p class="post_bt"> <a href="https://ounodoukutsu.jp/zeroshiki/shop/morimoto/"><img src="{{ asset('assets/img/top/post_bt.png') }}" alt="詳細はこちら" ></a> </p>
                </section>
            </div>
            <div class="ec-categoryRole__listItem1">
                <section class="post_bx">
                                <p class="post_img"><a href="https://ounodoukutsu.jp/zeroshiki/shop/oogaki/">
                                    <img src="https://ounodoukutsu.jp/zeroshiki/wp-content/uploads/2017/01/ca97ac7e84d6bd81b6141c3fddf01a7d-270x180.jpg" alt="大垣" > </a></p>
                                <p class="post_name">
                          零式書店 大垣店        </p>
                                <p class="post_add">
                          〒503-0008<br>
                岐阜県大垣市楽田町3-74<br>
                JR大垣駅より徒歩30分        </p>
                                        <p class="post_tel"><a href="tel:0584-74-6560">Tel.
                          0584-74-6560          </a></p>
                                <p class="post_bt"> <a href="https://ounodoukutsu.jp/zeroshiki/shop/kamimaezu2/"><img src="{{ asset('assets/img/top/post_bt.png') }}" alt="詳細はこちら" ></a> </p>
                </section>
            </div>
            <div class="ec-categoryRole__listItem1">
                <section class="post_bx">
                                <p class="post_img"><a href="https://ounodoukutsu.jp/zeroshiki/shop/suzuka/">
                                    <img src="https://ounodoukutsu.jp/zeroshiki/wp-content/uploads/2017/01/efc7091e4dec9c097eda9f85cd985c98-270x180.jpg" alt="鈴鹿" > </a></p>
                                <p class="post_name">
                          零式書店 鈴鹿店        </p>
                                <p class="post_add">
                          〒510-0243<br>
                三重県鈴鹿市白子3丁目17-1<br>
                近鉄白子駅から徒歩12分<br>
                        </p>
                                        <p class="post_tel"><a href="tel:059-388-6336">Tel.
                          059-388-6336          </a></p>
                                <p class="post_bt"> <a href="https://ounodoukutsu.jp/zeroshiki/shop/ooguchi/"><img src="{{ asset('assets/img/top/post_bt.png') }}" alt="詳細はこちら" ></a> </p>
                </section>
            </div>
            <div class="ec-categoryRole__listItem1">
                <section class="post_bx">
                                <p class="post_img"><a href="https://ounodoukutsu.jp/zeroshiki/shop/kariya/">
                                    <img src="https://ounodoukutsu.jp/zeroshiki/wp-content/uploads/2017/01/d8f849fef4d8fd897e436d4d70482dc4-270x180.jpg" alt="刈谷" > </a></p>
                                <p class="post_name">
                          零式書店 刈谷店        </p>
                                <p class="post_add">
                          〒448-0049<br>
                愛知県刈谷市中手町6丁目203番地<br>
                JR逢妻駅から徒歩15分        </p>
                                        <p class="post_tel"><a href="tel:0566-62-6735">Tel.
                          0566-62-6735          </a></p>
                                <p class="post_bt"> <a href="https://ounodoukutsu.jp/zeroshiki/shop/kariya/"><img src="{{ asset('assets/img/top/post_bt.png') }}" alt="詳細はこちら" ></a> </p>
                </section>
            </div>
            <div class="ec-categoryRole__listItem1">
                <section class="post_bx">
                                <p class="post_img"><a href="https://ounodoukutsu.jp/zeroshiki/shop/owariasahi/">
                                    <img src="https://ounodoukutsu.jp/zeroshiki/wp-content/uploads/2017/01/7498f1f3ccbcbd77b81f8d42728b4bf5-270x180.jpg" alt="尾張旭" > </a></p>
                                <p class="post_name">
                          零式書店 尾張旭店        </p>
                                <p class="post_add">
                          〒488-0838<br>
                愛知県尾張旭市庄中町1丁目10番地12<br>
                名鉄瀬戸線 印場駅から徒歩10分        </p>
                                        <p class="post_tel"><a href="tel:0561-55-7698">Tel.
                          0561-55-7698          </a></p>
                                <p class="post_bt"> <a href="https://ounodoukutsu.jp/zeroshiki/shop/owariasahi/"><img src="{{ asset('assets/img/top/post_bt.png') }}" alt="詳細はこちら" ></a> </p>
                </section>
            </div>
            <div class="ec-categoryRole__listItem1">
                <section class="post_bx">
                                <p class="post_img"><a href="https://ounodoukutsu.jp/zeroshiki/shop/toyohashi/">
                                    <img src="https://ounodoukutsu.jp/zeroshiki/wp-content/uploads/2017/01/9e36bfa04b62968b30fb93e87e2e6503-270x180.jpg" alt="豊橋" > </a></p>
                                <p class="post_name">
                          零式書店 豊橋店        </p>
                                <p class="post_add">
                          〒440-0084<br>
                愛知県豊橋市下地町瀬上17-3<br>
                豊鉄バスで元下地バス停下車、徒歩2分　        </p>
                                        <p class="post_tel"><a href="tel:0532-55-4250">Tel.
                          0532-55-4250          </a></p>
                                <p class="post_bt"> <a href="https://ounodoukutsu.jp/zeroshiki/shop/toyohashi/"><img src="{{ asset('assets/img/top/post_bt.png') }}" alt="詳細はこちら" ></a> </p>
                      </section>
            </div>
            <div class="ec-categoryRole__listItem1">
                <section class="post_bx">
                                <p class="post_img"><a href="https://ounodoukutsu.jp/zeroshiki/shop/kagamigahara/">
                                    <img src="https://ounodoukutsu.jp/zeroshiki/wp-content/uploads/2017/01/d5bd4eae4368b569661445713b2578ff-270x180.jpg" alt="各務原" > </a></p>
                                <p class="post_name">
                          零式書店 各務原店        </p>
                                <p class="post_add">
                          〒509-0135<br>
                岐阜県各務原市鵜沼羽場町3丁目1-3<br>
                苧ヶ瀬駅から徒歩7分        </p>
                                        <p class="post_tel"><a href="tel:058-379-4117">Tel.
                          058-379-4117          </a></p>
                                <p class="post_bt"> <a href="https://ounodoukutsu.jp/zeroshiki/shop/kagamigahara/"><img src="https://ounodoukutsu.jp/zeroshiki/wp-content/themes/zeroshiki/images/shared/post_bt.png" alt="詳細はこちら" ></a> </p>
                      </section>
            </div>
        </div>
        -->
    </div>
</div>